* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #18181b;
  color: white;
}

nav {
  background-color: #111115;
  color: white;
  padding: 1em;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  font-size: 17px;
}

.partOne > a {
  color: rgb(4, 159, 206);
  font-size: 20px;
  font-weight: 600;
}

.partTwo {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  transition: 0.8s;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}

nav a:hover {
  color: rgb(4, 159, 206);
}

main {
  padding: 20px;
}

footer {
  text-align: center;
  background-color: #101012;
  width: 100%;
  padding: 10px 0;
  font-size: 14px;
}

/* For Home Page */

.text-banner {
  display: flex;
  justify-content: space-between;
  max-width: 80%; /* Adjusted */
  margin-inline: auto;
  gap: 50px;
  overflow-x: hidden;
  align-items: center;
  margin-top: 12vh;
}

.texts {
  width: 50%; /* Adjusted */
}

.texts > h1 {
  font-weight: 500;
  margin-bottom: 30px;
  font-size: 54px;
  margin-top: 10px;
  color: rgb(30, 179, 224);
}

.texts > h4 {
  font-size: 25px;
  font-weight: 400;
}

.texts > p {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}

.banner {
  overflow: hidden;
  object-fit: contain;
  object-position: center center;
}

.banner > img {
  border-radius: 30px;
  width: 400px;
  height: 300px;
}

code {
  font-family: monospace;
  font-size: 14px;
  background-color: rgb(36, 32, 32);
}

.taskPageBtn {
  display: flex;
  gap: 7px;
  align-items: center;
  color: white;
  text-decoration: none;
  border: 1px solid rgb(255, 255, 255);
  width: 145px;
  height: 45px;
  border-radius: 5px;
  padding: 5px 15px;
  transition: 0.3s;
  margin-top: 15px;
}

.taskPageBtn:hover {
  border-color: rgb(88, 201, 236);
  color: rgb(88, 201, 236);
}

.taskPageBtn:hover i {
  transform: translateX(9px);
}

.taskPageBtn i {
  transition: 0.3s;
}

.burgerBtn {
  font-size: 23px;
  transition: 0.3s;
  display: none;
}

.contactLinks {
  max-width: 200px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 25vh;
  background-color: #212123;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 40px;
}

.contactLinksForAbout {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5vh;
  background-color: #212123;
  padding: 10px 20px;
  border-radius: 10px;
}

.contactLinks > a,
.contactLinksForAbout > a {
  color: rgb(154, 152, 152);
  text-decoration: none;
  transition: 0.3s;
  font-size: 25px;
}

.contactLinks > a:hover,
.contactLinksForAbout > a:hover {
  color: rgb(206, 206, 206);
}

.text-links {
  margin-top: 15vh;
  max-width: 600px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  text-align: center;
}

.text-links h1 {
  color: rgb(30, 179, 224);
}

.text-links p {
  margin-top: 3vh;
  text-align: justify;
  text-indent: 40px;
  line-height: 1.5;
}

/* MEDIA QUERIES */

@media (max-width: 1090px) {
  .burgerBtn {
    display: block;
  }

  .partTwo {
    overflow-x: hidden;
    display: none;
    flex-direction: column;
    line-height: 1.2;
    position: absolute;
    top: 60px;
    right: 0;
    width: 50%;
    background-color: rgb(4, 122, 158);
    padding: 20px 0;
    border-radius: 5px;
    font-weight: 500;
    transition: 0.8s;
  }

  nav {
    padding: 30px 80px;
  }

  .burgerBtn {
    z-index: 3;
  }

  .text-banner {
    margin-inline: auto;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 100px;
  }

  .texts {
    width: 90%;
    margin-top: 0;
  }

  .texts > h1 {
    font-size: 26px;
  }

  .banner {
    transform: scale(1);
  }

  .contactLinks {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

@media (max-width: 768px) {
  .burgerBtn {
    display: block;
  }

  .text-banner{
    margin: 15% 0;
  }

  body {
    overflow-x: hidden;
  }

  .partTwo {
    display: none;
    flex-direction: column;
    line-height: 1.2;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    background-color: rgb(4, 122, 158);
    padding: 20px 0;
    border-radius: 5px;
    font-weight: 500;
    transition: 0.8s;
  }

  nav {
    padding: 20px 40px;
  }

  .burgerBtn {
    z-index: 3;
  }

  .text-banner {
    margin-inline: auto;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 40px;
    max-width: 100%;
  }

  .texts {
    width: 90%;
    margin-top: 0;
  }

  .texts > h4 {
    font-size: 18px;
  }

  .texts > h1 {
    font-size: 34px;
  }

  .contactLinks {
    margin-top: 20px;
    margin-bottom: 90px;
  }
  footer{
    margin: 0;
  }
}
