* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  background-color: #18181b;
  color: white;
}

nav {
  background-color: #111115;
  color: white;
  padding: 1em;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  font-size: 17px;
}

.partOne {
  color: rgb(4, 159, 206);
  font-size: 20px;
}

.partTwo {
  display: flex;
  align-items: center;
  gap: 30px;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}

nav a:hover {
  color: rgb(4, 159, 206);
}

main {
  padding: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: #101012;
  width: 100%;
  padding: 10px 0;
  font-size: 14px;
}

.taskManager {
  color: rgb(30, 179, 224);
  font-size: 3vw;
}


.searchResults {
  position: absolute;
  /* background-color: rgb(20, 132, 166); */
  backdrop-filter: blur(30px);
  border: 0.5px solid rgb(20, 132, 166);
  width: 280px;
  height: 220px;
  border-radius: 10px;
  top: 65px;
  right: 5.8%;
  padding: 10px;
  display: none;
}

.searchResults > h2 {
  font-weight: 500;
  margin-top: 10px;
  background-color: #2d2d30;
  padding: 7px 10px;
  border-radius: 10px;
  font-size: 18px;
  text-align: left;
}

.searchResults > p {
  font-weight: 500;
  margin-top: 10px;
  background-color: #2d2d30;
  padding: 7px 10px;
  border-radius: 10px;
  font-size: 16px;
  text-align: left;
  height: 110px;
  margin-bottom: 10px;
  text-align: justify;
  line-break: anywhere;
}

#searchStatus {
  color: rgb(115, 226, 230);
  font-size: 18px;
}


#task-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.taskHeading {
  font-size: 28px;
  margin-bottom: 10px;
  text-align: center;
  color: rgb(28, 122, 246);
}

input,
textarea {
  padding: 15px;
  font-size: 1em;
  outline: none;
  background-color: #26262a;
  border: 2px solid #2d2d30;
  border-radius: 8px;
  color: white;
  /* height: 90px; */
}

#task-form {
  width: 80%;
  margin-inline: auto;
  margin-top: 30px;
  font-family: sans-serif;

  border: 1px solid rgb(120, 119, 119);
  padding: 25px 10px 15px 10px;
  border-radius: 10px;
}

textarea {
  height: 130px;
  resize: none;
  font-size: 15px;
  font-family: sans-serif;
}


#taskSubmitBtn,
#taskUpdateBtn {
  background-color: rgb(237, 237, 237);
  width: 120px;
  margin-top: 10px;
  padding: 10px 0;
  font-size: 16px;
  color: #2c2c2c;
  font-weight: 500;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

#tasks-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-inline: auto;
  gap: 30px;
  margin-top: 50px;
}

#taskMade {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 2px solid #2d2d30;
  border-radius: 8px;
  color: white;
  width: 310px;
  font-family: sans-serif;
}

.taskTitle {
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
}

.task{
  border: 1px solid rgb(68, 68, 69);
  padding: 5px;
  border-radius: 5px;
  line-break:strict;
  width: 300px;
}

.taskStatus {
  font-size: 15px;
  padding: 10px;
  margin-bottom: 5px;
}

#deleteTask {
  color: rgb(2, 117, 248);
  background-color: transparent;
  border: none;
  margin-left: 8px;
  font-weight: 600;
  cursor: pointer;
}


#deleteTask,
button {
  color: rgb(2, 117, 248);
  background-color: transparent;
  border: none;
  margin-left: 8px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #333;
  padding: 5px 10px;
}

#deleteTask,
button:last-child {
  color: rgb(7, 220, 50);
}

#editTask {
  color: rgb(2, 117, 248);
  background-color: transparent;
  border: none;
  margin-left: 8px;
  font-weight: 600;
  cursor: pointer;
}

.searchBar > img {
  color: #ffffff;
  padding: 10px;
  width: 40px;
  background-color: rgb(20, 132, 166);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

#searchBarIn {
  height: 40px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.searchBar {
  position: relative;
  display: flex;
  align-items: center;
  /* gap: 5px; */
}

.taskStatusHead {
  color: rgb(2, 117, 248);
  font-weight: 600;
}

.task.completed {
  background-color: hsl(225, 44%, 14%);
}

.burger {
  font-size: 23px;
  transition: 0.3s;
  display: none;
}




/* MEDIA QUERIES */

@media (max-width: 1275px) {
  /* Adjust layout for large devices */
  .task {
    width: 400px;
  }
}

@media (max-width: 1090px) {
  /* Adjust layout for large devices */
  .task {
    width: 350px;
  }
  .burger {
    display: block;
  }

  .partTwo{
    display: none;
  }
  
  nav{
    padding: 20px 40px;
  }

  .partTwo {
    display: none;
    position: absolute;
    flex-direction: column;
    width: 100%;
    left: 0;
    background-color: rgb(20, 132, 166);
    margin-top: 300px;
  }
  .nav-links{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px 0;
  }

  .burger{
    z-index: 3;
}

.nav-links > a{
  background-color: rgb(20, 132, 166);
  line-height: 2.5;
  font-weight: 500;
}

.searchBar{
  align-items: center;
}

.searchResults{
  margin-top: 240px;
  left: 0;
  width: 100%;
}

}


/* MEDIA QUERIES */


@media (max-width: 992px) {
  /* Adjust layout for large devices */
  #task-form {
    width: 100%;
  }
  .task {
    width: 100%;
  }
}

@media (max-width: 644px) {
  #task-form {
    width: 100%;
  }
}

@media (max-width: 600px) {
  #task-form {
    width: 100%;
    /* margin-inline: auto; */
  }
}
@media (max-width: 500px) {
  #task-form {
    width: 100%;
  }
}
@media (max-width: 450px) {
  #task-form {
    width: 100%;
  }
}

@media (max-width: 430px) {
  #task-form {
    width: 100%;
  }
}

@media (max-width: 414px) {
  #task-form {
    width: 100%;
  }

}

@media (max-width: 360px) {
  #task-form {
    width: 100%;
  }

}
