* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  background-color: #18181b;
  color: white;
}

nav {
  background-color: #111115;
  color: white;
  padding: 1em;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 20px 190px;
  cursor: pointer;
  font-size: 17px;
}

.partOne{
  color: rgb(4, 159, 206);
  font-size: 20px;
}

.partTwo {
  display: flex;
  gap: 30px;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  transition: 0.3s ;
}

nav a:hover{
  color: rgb(4, 159, 206);
}

main {
  padding: 20px;
}

footer{
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: #101012;
  width: 100%;
  padding: 10px 0;
  font-size: 14px;
}

/* For Home Page */

.text-banner{
  display: flex;
  justify-content: space-between;
  max-width: 1180px;
  margin-inline: auto;
  gap: 50px;
  align-items: center;
  margin-top: 12vh;
  flex-wrap: wrap;
}

.texts{
  width: 600px;
}

.texts > h1{
  font-weight: 500;
  margin-bottom: 30px;
}

.texts > p{
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}

.banner{
  overflow: hidden;
  /* border-radius: 30px; */
  object-fit: contain;
  object-position: right;
}

.banner > img{
  width: 400px;
  height: 300px;
}

.taskManager{
  color: rgb(30, 179, 224);
  font-size: 3vw;
}

.taskPageBtn{
  display: flex;
  gap: 7px;
  align-items: center;
  color: white;
  text-decoration: none;
  border: 1px solid rgb(255, 255, 255);
  width: 140px;
  height: 45px;
  border-radius: 5px;
  padding: 5px 15px;
  transition: 0.3s;
  margin-top: 15px;
}

.taskPageBtn:hover{
  border-color: rgb(88, 201, 236);
  color: rgb(88, 201, 236);
  /* color: rgb(225, 242, 247); */
  width: 150px;
}

.taskPageBtn i{
  transition: 0.3s;
}

.contactLinks{
  /* width: 100%; */
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute; 
  left: 50%;
  transform: translateX(-50%);
  margin-top: 25vh;
  background-color: #212123;
  padding: 10px 20px;
  border-radius: 10px;
}

.contactLinksForAbout{
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute; 
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5vh;
  background-color: #212123;
  padding: 10px 20px;
  border-radius: 10px;
}

.contactLinks > a{
  color: rgb(154, 152, 152);
  text-decoration: none;
  transition: 0.3s;
  font-size: 25px;
}

.contactLinksForAbout > a{
  color: rgb(154, 152, 152);
  text-decoration: none;
  transition: 0.3s;
  font-size: 25px;
}

.contactLinks > a:hover{
  color: rgb(206, 206, 206);
}

.contactLinksForAbout > a:hover{
  color: rgb(206, 206, 206);
}

.taskPageBtn:hover i{
  transform: translateX(10px);
}

.contactLinksForAbout:hover i{
  transform: translateX(10px);
}



/* Styling for Task Page */

#task-form,
#contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tastHeading {
  font-size: 28px;
  margin-bottom: 10px;
  text-align: center;
  color: rgb(0, 76, 255);
}

input,
textarea {
  padding: 15px;
  font-size: 1em;
  outline: none;
  background-color: #26262a;
  border: 2px solid #2d2d30;
  border-radius: 8px;
  color: white;
  /* height: 90px; */
}

.titleForContact{
  margin-top: 50px;
}

#task-form {
  width: 80%;
  margin-inline: auto;
  margin-top: 30px;
  font-family: sans-serif;

  border: 1px solid rgb(120, 119, 119);
  padding: 25px 10px 15px 10px;
  border-radius: 10px;
}


textarea {
  height: 130px;
  resize: none;
  font-size: 15px;
  font-family: sans-serif;
}

#taskSubmitBtn {
  background-color: rgb(237, 237, 237);
  width: 120px;
  margin-top: 10px;
  padding: 10px 0;
  font-size: 16px;
  color: #2c2c2c;
  font-weight: 500;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

#tasks-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-inline: auto;
  gap: 30px;
  margin-top: 50px;
}

#taskMade {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 2px solid #2d2d30;
  border-radius: 8px;
  color: white;
  width: 310px;
  font-family: sans-serif;
}

.taskTitle{
  font-size: 18px;
  font-weight: 600;
  padding: 10px;

}

.taskStatus{
  font-size: 15px;
  padding: 5px;
  margin-bottom: 5px;
}

#deleteTask{
  color: rgb(2, 117, 248);
  background-color: transparent;
  border: none;
  margin-left: 8px;
  font-weight: 600;
  cursor: pointer;
}

.taskStatusHead{
  color: rgb(2, 117, 248);
  font-weight: 600;
}

/* Styling for Contact Form */
#contact-form {
  padding: 15px 10px;
}

#messageSubmitBtn {
  padding: 15px 10px;
  width: 150px;
  border-radius: 8px;
  font-weight: 600;
  margin-top: 10px;
  font-size: 14px;
  cursor: pointer;
}

fieldset {
  width: 80%;
  margin-inline: auto;
  padding: 5px 25px;
  border: 1px solid rgb(145, 140, 140);
  border-radius: 10px;
  color: white;
  margin-top: 10vh;
}

legend {
  margin-left: 3vw;
  padding: 0 20px;
  font-size: 20px;
}

#name{
    margin-bottom: 0;
}

.task.completed {
  background-color: hsl(128, 97%, 13%);
}


/* Styling for about page */

.text-links{
  margin-top: 15vh;
  max-width: 600px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  text-align: center;
}

.text-links p{
  margin-top: 3vh;
  text-align: justify;
}



@media (max-width: 1275px) {
  /* Adjust layout for large devices */
  .task{
    width: 400px;
  }
}

@media (max-width: 1080px) {
  /* Adjust layout for large devices */
  .task{
    width: 350px;
  }
}

@media (max-width: 992px) {
  /* Adjust layout for large devices */
  #task-form {
      width: 100%;   
  }
  .task{
    width: 100%;
  }
}

@media (max-width: 644px){
  #task-form {
    width: 100%;
  }
  fieldset{
    width: 100%;
  }
}

@media (max-width: 600px){
  #task-form {
    width: 100%;
    /* margin-inline: auto; */
  }
  fieldset{
    width: 100%;
  }
}
@media (max-width: 500px){
  #task-form {
    width: 100%;
  }
  fieldset{
    width: 100%;

  }
}
@media (max-width: 450px){
  #task-form {
    width: 100%;
  }
  fieldset{
    width: 100%;
  }
}

@media (max-width: 430px){
  #task-form {
    width: 100%;

  }
  fieldset{
    width: 100%;
  }
}

@media (max-width: 414px){
  #task-form {
    width: 100%;
  }
  fieldset{
    width: 100%;
  }
}

@media (max-width: 360px){
  #task-form {
    width: 100%;
  }
  fieldset{
    width: 100%;
  }
}